* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

img {
    width: 100%;
    height: 100%;
}

header{

    display: flex;
    justify-content: space-between;
    padding: 20px 60px;;
    background-color: rgba(0, 0, 0, 0.2); 
    color: white;
    align-items: center;

   
    position: fixed;
    top: 0;
    width: 100%;

    .logo{
        font-weight: bold;
        font-size: 1.5rem;
        flex: 1;
    }
    .li{
        font-size: 0.5 rem;
        margin-left: 20px;
    }
    i{
        margin-left: 20px;
        font-size: 0.5 rem;
    }

    
}

.hero{
    height: 500px;
    background: url('https://s3-alpha-sig.figma.com/img/47b1/12af/bde7599f34bb5c8e8336b524b9beba56?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=WtXME78OLz-SuF9nQWPezNC4urwhYN2xEEDrjuwt9pgMdEIhPW30dVn2GQ1hwNxrAdrG6FVOCOBdudG95NtgEHEEUcYEdR2yMo0YdqJ8al-izVBo-belY7pzj8pjR4HQjiJ1vtKohovGEj1k943MNDtV0C6ZGOzmWUZogWo9ZCTV0VMItzDI3yJaPmFgFJCKVXnyylVi9G7fwYXdMDKe5ak-Xb~MPvFTKqk0jGYpEYn1LuIo7gVNZpD8ZAfBsUGxhCvZNMIEyey-lrziP4i14dxpqPxDrxivwe5ypIH80FxgU3cRvYMRQagfNnXBOsqDuqU~1phTOhMqpqXktgFdLQ__') no-repeat center center/cover;
    display: flex;
    align-items: center;
    padding: 120px 60px;
    .hero-content{
        color:aliceblue;
        font-weight: bold;
    }

}

main{

    .all-topics{
        padding: 120px;
        margin-top: 50px;

        h3{
            font-size: 3rem;
            margin-bottom: 30px;
        }
        .topic-nav{
            list-style: none;
            display: flex;
            gap: 20px;
            padding-left: 0;
            margin-bottom: 10px;
        }

        h6{
            text-align: right;
            margin-bottom: 30px;
        }

        .topic-card{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 30px;

            .card{
                border-radius: 12px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                .card-contents{
                    padding: 20px;

                    p{
                        font-size: 13px;
                        color: #999;
                        margin-bottom: 10px;
                    }

                    h6{
                        font-size: 13px;
                        font-weight: bold;
                        margin-bottom: 10px;
                        
                    }

                    .card-author{
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        .card-author-contents{
                            margin: 0;
                            font-size: 14px;
                        }
                    }
                }
            }

        }
        
    }



}